/*var statement*/
:root{
	--header-height:10vh;
}

/*0.level*/
*{
	margin:0;
	padding:0;
}
/*1.level*/
body{
	overflow-y:scroll;
	word-break: keep-all;
}
/*2.level*/
header{
	background-color:red;
	width:100%;
	height:var(--header-height);
	position:fixed;
	display:inline-block;
}
main{
	background-color:blue;
	width:100%;
	min-height:calc(100vh - var(--header-height) * 2);
	margin-top:var(--header-height);
	display:inline-block;
}
footer{
	background-color:green;
	width:100%;
	height:10vh;
	display:inline-block;
}
/*3.level*/

section{
	display:inline-block;
}
/*4.level*/
article{
	padding:0.5rem;
}

/*5.level*/
p{}
h1,h2,h3,h4,h5,h6{}

/*6.level*/
a{}
div{}

/*parts*/

/*navigation bar - horizontal*/
.nav-horiz>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav-horiz>li {
    float: left;
}
.nav-horiz>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-horiz>li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

/*navigation bar - vertical*/
ul {
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**/