/*var statement*/
:root{
	--header-height:10vh;
}

/*0.level*/
*{
	margin:0;
	padding:0;
}
/*1.level*/
body{
	overflow-y:scroll;
	word-break: keep-all;
}
/*2.level*/
header{
	background-color:red;
	width:100%;
	height:var(--header-height);
	position:fixed;
	display:inline-block;
}
main{
	background-color:blue;
	width:100%;
	min-height:calc(100vh - var(--header-height) * 2);
	margin-top:var(--header-height);
	display:inline-block;
}
footer{
	background-color:green;
	width:100%;
	height:10vh;
	display:inline-block;
}
