	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/08/2017 09:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
}

.flaticon-pencil-edit-button:before { content: "\f100"; }
.flaticon-copy-content:before { content: "\f101"; }
.flaticon-left-arrow:before { content: "\f102"; }
.flaticon-right-arrow:before { content: "\f103"; }
.flaticon-up-arrow:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-folder:before { content: "\f106"; }
.flaticon-paint-board-and-brush:before { content: "\f107"; }
.flaticon-move-arrows:before { content: "\f108"; }
.flaticon-home-page:before { content: "\f109"; }
.flaticon-add:before { content: "\f10a"; }
.flaticon-delete:before { content: "\f10b"; }
.flaticon-download-button:before { content: "\f10c"; }
.flaticon-rubbish-bin:before { content: "\f10d"; }
.flaticon-save:before { content: "\f10e"; }