
*{
	margin:0;
	padding:0;
}

main{
	width:100vw;
	height:100vh;
	position:absolute;
	left:0;
	top:0;
}
main>section{
	display:none;
	width:100%;
	height:100%;
}
.home-button{
	width:20rem;
	height:10rem;
	color:black;
	background-color:white;
	border:0.1rem solid black;
	border-radius:0.5rem;
	font-size:2rem;
	margin:1rem;
}
.home-button:hover{
	border-width:0.2rem;
	font-weight:bold;
}
#ifHome h1{
	width:100%;
	margin-bottom:1rem;
	font-size:2rem;
}
.template-article{
	width:10rem;
	height:10rem;
	display:inline-block;
	border:0.1rem solid black;
	border-radius:0.5rem;
	margin:0.1rem;
	padding:0.3rem;
	box-sizing:border-box;
	overflow:hide;
}
.centered-text{
	text-align:center;
}
.back-to-menu{
	position:absolute;
	left:0.5rem;
	top:0.5rem;
}
#headMenu{
	border-bottom:0.1rem solid black;
	width:100%;
	height:5%;
	float:left;
	box-sizing:border-box;
}
#domTree{
	width:100%;
	height:90%;	
	overflow-y:scroll;
	box-sizing:border-box;
}
#fooMenu{
	border-top:0.1rem solid black;
	width:100%;
	height:5%;
	float:left;
	box-sizing:border-box;
}
.head-menu-icon{
	font-size:2rem;
	margin-left:1rem;
}
#projectName{
	font-size:1.2rem;
	border:0.1rem solid black;
}
.pos-to-right{
	position:fixed;
	right:0.5rem;
}
.pos-to-left{
	position:fixed;
	left:0.5rem;
}
.foo-menu-icon{
	font-size:2rem;
	margin:0.2rem;
}
#backToWorkTable{
	position:absolute;
	left:0.5rem;
	top:0.5rem;
}
#ghostDom{
	display:none;
}
.detail>section{
	display:none;
}
.activeDet{
	display:block;
}
detail{
	text-align:left;
}
#uploadedProject{
	display:none;
}